.footerGrilla {
    grid-column: 1/4;
    margin-top: 20%;

    .listaMenuFooter {
        @include flexbox;
        flex-wrap: wrap-;
        gap: 20px;

        .redes {
            font-size: 40px;
        }
    }
}