.footerGrilla {
    grid-column: 1/4;
    margin-top: 20%;

    ul {
        .listaMenuFooter {
            @include flexbox;
            flex-wrap: wrap-;
            gap: 20px;
            &:hover{
                transform:scale(1.2,1.2)
            }
        }

        a {
            .redes {
                font-size: 40px;
            }
        }
    }
}
