.imagenProyectos {
    width: $anchoimagen;
}

.grillaNuestrosProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}

.grilla {
    @extend .grillaNuestrosProyectos
}