/* generales */

/* fuentes generales*/



/* sobrenosotros */
.subtitulo {
    color: #B7990D;
    font-size: 1.5rem;
    text-align: center;
    width: $anchoimagen;
    background-color: #17171741;
    font-size: 3rem;
}


/* fin fuentes */

/* fin generales */

/* header */
/* prueba p menu de nav*/
/* fin header */


/* sobrantes ver de borrar */
.listaMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Fin sobrantes ver de borrar */
/* index */

.imagenGaleria {
    width: $anchoimagen;
}

.imagenProyectos {
    width: $anchoimagen;
}



.grillaNuestrosProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}


/* footer */


/* fin footer */

/*  */


/* celu */
/* @media screen and (max-width: 480px){
    .listaMenu {
        flex-direction: column;
        gap: 10px;
    } 
} */

/* tablet */
/* @media screen and (min-width: 481px) and (max-width: 800px){
    .listaMenu {
        flex-direction: column;
        gap: 10px;
    }

} */