/* generales */



/* fuentes */

h1 {
    color: #b19727;
    text-align: center;
    width: 100%;
    background-color: #DCD15F;
    font-size: 3rem;
}

h2 {
    color: #B7990D;
    font-size: 2rem;
}


.subtitulo {
    color: #B7990D;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: #17171741;
    font-size: 3rem;
}

/* fin fuentes */

/* fin generales */

/* header */
/* prueba p menu de nav*/
/* fin header */


/* sobrantes ver de borrar */
.listaMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Fin sobrantes ver de borrar */


.sectionImagen {
    background-image: url(../multimedia/icono.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.sombra-parrafo {
    background-color: rgba(0, 0, 0, 0.323);
    color: whitesmoke;
    font-size: 20px;
}

.imagenGaleria {
    width: 100%;
}

.imagenProyectos {
    width: 100%;
}


.cajaContenedora {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.grillaNuestrosProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}



.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}


/* footer */


/* fin footer */


.video-youtube {
    width: 75%;
    height: 45vh;

}


/* celu */
/* @media screen and (max-width: 480px){
    .listaMenu {
        flex-direction: column;
        gap: 10px;
    } 
} */

/* tablet */
/* @media screen and (min-width: 481px) and (max-width: 800px){
    .listaMenu {
        flex-direction: column;
        gap: 10px;
    }

} */
