* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #EDE5A6;
    font-family: sans-serif;
}


a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

h1 {
    color: #b19727;
    text-align: center;
    width: 100%;
    background-color: #DCD15F;
    font-size: 3rem;
}

h2 {
    color: #B7990D;
    font-size: 2rem;
}


li {
    list-style: none;
}


.listaMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


}

p {
    text-align: justify;
}

.sectionImagen {
    background-image: url(../multimedia/icono.jpg);
    background-repeat: repeat;
    height: 200px;
    background-position: left;
    background-size: contain;
}

.imagenGaleria {
    width: 89%;
}

.imagenProyectos {
    width: 70%;
}

.overflow {
    width: 100%;
}

main {
    margin-top: 3rem;
}

footer {
    margin-top: 3rem;
    height: 100%;
}

.anchorContactate {
    margin-top: 3rem;
}

.anchorParticipar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contactarnos {
    margin-bottom: 2rem;
}

.contacto {
    margin-top: 1rem;
}

.cajaContenedoraGaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes {
    font-size: 40px;
}

.grillaNuestrosProyectos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}


.grillaIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}

.grillaSobreNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}

.grillaGaleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}

.grillaContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3px;
    grid-template-rows: 100px auto;
}


.headerGrilla {
    grid-column: 1/4;
}

.mainGrilla {
    grid-column: 1/4;
}

.footerGrilla {
    grid-column: 1/4;
}


@media (max-width: 500px){
    
}